.play__modal {
  min-width: 1200px;
  min-height: 100vh; 
  background-color: $color-darkblue-2;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  color: $color-white;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.modal--open {
  display: block;
}


.modal{
  
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__text{
    width: 700px;
    margin: 0 auto;
    padding-top: 150px;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
  }

  &__input{
    display: inline-block;
    padding: 8px;
    padding-left: 24px;
    width: 80px;
    font-family: $basic-font;
    font-weight: 700;
    margin-bottom: 48px;
    box-sizing: border-box;
    &:focus{
      outline: none;
      border: 2px solid $color-lightblue;
      box-shadow: 0 0 5px 5px $color-white;
    }
  }
  &__text-input{
    width: 300px;
    height: 32px;
    margin-bottom: 24px;
    border-radius: 15px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: $basic-font;
    font-weight: 600;
    &:focus{
      @extend .modal__input:focus;
    }
  }
  &__list{
    @extend .modal__text;
    padding-top: 0;
    visibility: hidden;
    &--visible{
      visibility: visible;
    }
  }
  &__output{
    @extend .modal__text;
    padding-top: 16px;
    margin-bottom: 0;
  }
}
