@import "vars";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: $basic-font;
  color: $color-white;
}

.top {
  background: url("./img/background/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1024px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  &__title {
    width: 789px;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 217px;
    margin-bottom: 32px;
  }

  &__text {
    width: 481px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 44px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 48px;
  color: inherit;
  background-color: $color-darkred;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 30px;
}

.disabled{
  background-color: $color-grey;
}

.games {
  min-height: 556px;
  background-color: $color-darkblue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }
}

.game {
  display: block;
  position: relative;
  overflow: hidden;
  width: 378px;
  height: 300px;
  color: inherit;
  position: relative;

  &__title {
    font-family: inherit;
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &:hover {
    border: 3px solid $color-lightblue;
    box-sizing: border-box;
    border-radius: 16px;
  }
}

.games__item:first-child {
  background-image: url("./img/background/bg-game1.jpg");
}

.games__item:nth-child(2) {
  background-image: url("./img/background/bg-game2.jpg");
}

.games__item:last-child {
  background-image: url("./img/background/bg-game3.jpg");
}

.play {
  background-color: $color-darkblue;
  min-height: 800px;

  &__content {
    padding-top: 234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text {
    @extend .header__text;
    min-width: 584px;
    margin: 0;
  }
}

#game3{
  background-image: url("./img/background/play3-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .play__content{
    margin: 0 auto;
    padding: 0;
  }

  .play__description{
    justify-content: center;
    align-items: center;
  }

  .play__text{
    width: 100%;
    text-align: center;
  }
}

.footer{
  padding: 32px 0px;
  text-align: center;
  background-color: $color-darkblue;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
}

@media (max-width: 376px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    min-height: 735px;
    background-image: url("./img/background/bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 22px;

    &__title {
      width: 100vw;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      margin-bottom: 0;
    }

    &__text {
      width: 343px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .games {
    padding-top: 128px;
    padding-bottom: 128px;

    .game {
      width: 343px;

      &__title {
        left: 16px;
      }
    }
  }

  .play {
    
    &__content {
      flex-direction: column;
      gap: 64px;
      padding-top: 51px;
    }

    &__description {
      align-items: center;
    }

    &__title {
      font-size: 32px;
      line-height: 39px;
    }

    &__text {
      min-width: 100px;
      font-size: 14px;
      line-height: 22px;
    }

    &__image svg {
      width: 100%;
    }
  }

  #game3{
    align-items: flex-start;
  }
}
